/* styles.css */

/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e4f1f9;
  /* Unsaturated light blue background */
}

header {
  background: linear-gradient(to bottom, #001f3f, #00172b); /* Gradient background */
  color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box-shadow */
  transition: background-color 0.3s; /* Smoother transition */
}

h1 {
  font-family: "DomaineText", Georgia, serif;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}

h2 {
  font-family: 'Playfair Display', serif;
  color: #001f3f;
  font-size: 28px;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Playfair Display', serif;
  color: #001f3f;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 12px;
  /* Adjust the border-radius value as desired */
  transition: border-color 0.3s, color 0.3s;
}

nav ul li a:hover,
nav ul li a:focus {
  border-color: #ffffff;
  /* Adjust the border color for hover/focus state */
  color: #cddbe9;
  /* Adjust the text color for hover/focus state */
}

main {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box-shadow */
  background-color: #fff; /* White background */
  line-height: 1.6; /* Improved readability */
}

footer {
  background: linear-gradient(to bottom, #001f3f, #00172b); /* Gradient background */
  color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box-shadow */
  text-align: center;
  transition: background-color 0.3s; /* Smoother transition */
}

/* Page-Specific Styles */
section {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Button Styles */
button {
  background-color: #001f3f;
  color: #fff;
  padding: 12px 24px; /* Slightly larger buttons */
  border: none;
  border-radius: 20px; /* Rounded corners */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth hover transition */
}

button:hover {
  background-color: #265d91; /* Subtle hover color */
}

/* Additional Page Styles */

/* Accessible Polling Locations Page Styles */
.accessible-polling-locations {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accessible-polling-locations h2 {
  font-family: 'Playfair Display', serif;
  color: #001f3f;
  font-size: 32px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #001f3f;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #001f3f;
}

.button {
  display: inline-block;
  padding: 12px 24px; /* Slightly larger buttons */
  background-color: #001f3f;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth hover transition */
}

.button:hover {
  background-color: #265d91; /* Subtle hover color */
}

.results {
  margin-top: 20px;
  color: #001f3f;
}

.results strong {
  font-weight: bold;
}

.results br {
  margin-bottom: 10px;
}

.loggeduser-container {
      position: absolute;
      top: 10;
      right: 0;
      padding: 20px;
    color: #fff;
}
